:root {
  --fontAwecomeColor: white;
  --buttonBackground: rgba(0, 0, 0, 0.7);
  --weatherDisplayBackground: rgba(0, 0, 0, 0.4);
  --weatherDisplayHeaderBackground: rgba(0, 0, 0, 0.5);
}

/* background: linear-gradient(45deg, rgb(0, 47, 90), rgb(39, 62, 83));
background: linear-gradient(45deg, rgb(0, 107, 207), rgb(91, 145, 196)); */

* {
  margin: 0;
  padding: 0;
}

/*  LOADING SCREEN STYLE */
.loadingScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingScreenIcon {
  color: var(--fontAwecomeColor);
  font-size: 7rem;
  animation: spin infinite 4s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formAndUnitContainer {
  padding-top: 2rem;
  width: 45vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.formAndUnitContainerDenied {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.cityInput {
  border: none;
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.3);
  color: var(--fontAwecomeColor);
  padding: 0.5rem;
  font-size: 0.8rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submitButton,
.unitButton {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--buttonBackground);
  color: var(--fontAwecomeColor);
  margin: 0 0 0.5rem 0.2rem;
  transition: all 0.3s ease;
}

.submitButton:hover,
.unitButton:hover {
  filter: brightness(80%);
  cursor: pointer;
  transform: scale(1.03);
}

/* WEATHER DISPLAY */
.weatherDisplayContainer {
  background: var(--weatherDisplayBackground);
  width: 45vw; /* CHANGE WITH MEDIA QUERY*/
  color: var(--fontAwecomeColor);
  border-radius: 1rem;
}

.locationIcon {
  color: var(--fontAwecomeColor);
}

.header {
  display: flex;
  justify-content: space-between;
  background: var(--weatherDisplayHeaderBackground);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dateAndTime {
  display: flex;
  flex-direction: column;
}

.time {
  margin-top: 0.2rem;
  font-size: 1rem;
}

.refreshIcon {
  color: var(--fontAwecomeColor);
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}

.refreshIcon:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
}

.tempMessageIconContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
}

.tempContainer {
  display: flex;
  flex-direction: column;
}

.temp {
  font-size: 3rem;
}

.weatherDescription {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.weatherMessageDesktop {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
}

.weatherMessageMobile {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
}

.weatherIcon {
  font-size: 5rem;
}

.weatherDetailsContainer {
  display: flex;
  padding: 1rem;
}

.weatherDetailsContainer p {
  margin-right: 1rem;
}

.errorMessageContainer {
  padding: 0.5rem;
  background: var(--weatherDisplayBackground);
  color: white;
  border-radius: 3rem;
  width: 45vw;
  text-align: center;
  font-size: 1.5rem;
}

/* FORCAST DISPLAY */

.forecastDisplayContainer {
  background: var(--weatherDisplayBackground);
  width: 45vw; /* CHANGE WITH MEDIA QUERY*/
  color: var(--fontAwecomeColor);
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.forecastDisplayHeaderContainer {
  background: var(--weatherDisplayHeaderBackground);
  color: var(--fontAwecomeColor);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.3rem;
}

.forecastDaysDisplayContainer {
  display: flex;
  justify-content: space-between;
}

.dayForecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.forecastDate {
  font-size: 1.3rem;
}
.forecastIcon {
  margin: 0.5rem;
  font-size: 2rem;
}

.forecastHigh {
  font-size: 1.3rem;
}

.forecastLow {
  margin-top: 0.2rem;
  font-size: 1rem;
}

/* HOURLY DISPLAY */

.hourDisplayContainer {
  display: flex;
  color: var(--fontAwecomeColor);
  position: relative;
  overflow-x: scroll;
  width: 80vw;
  margin-bottom: 2rem;
}

.hourForecast {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--weatherDisplayBackground);
  margin: 2rem 1rem 0.7rem 0rem;
  padding: 1rem;
  min-width: 5rem;
  min-height: 7.5rem;
}

.hourForecastDate {
  font-size: 1.3rem;
}
.hourForecastTemp {
  font-size: 1.3rem;
}

.hourForecastIcon {
  margin: 0.5rem;
  font-size: 2rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--fontAwecomeColor);
  height: 5px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .formAndUnitContainer,
  .weatherDisplayContainer,
  .forecastDisplayContainer,
  .errorMessageContainer {
    width: 60vw;
  }
}

@media (max-width: 850px) {
  .formAndUnitContainer,
  .weatherDisplayContainer,
  .forecastDisplayContainer,
  .hourDisplayContainer,
  .errorMessageContainer {
    width: 75vw;
  }
}

@media (max-width: 650px) {
  .formAndUnitContainer,
  .weatherDisplayContainer,
  .forecastDisplayContainer,
  .hourDisplayContainer,
  .errorMessageContainer {
    width: 90vw;
  }
}

@media (max-width: 600px) {
  .weatherMessageDesktop {
    display: none;
  }
  .weatherMessageMobile {
    display: flex;
  }
}

@media (max-width: 480px) {
  .forecastDisplayHeaderContainer {
    font-size: 1.1rem;
  }

  .dayForecast {
    padding: 0.8rem;
  }

  .forecastDate {
    font-size: 1rem;
  }

  .forecastIcon {
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    font-size: 1.5rem;
  }

  .forecastHigh {
    font-size: 1rem;
  }

  .forecastLow {
    margin-top: 0.2rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .weatherMessageMobile {
    font-size: 1.2rem;
  }
  .weatherDetailsContainer {
    font-size: 0.8rem;
  }
}
